<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width">
		<link rel="stylesheet" href="/template/public/css/css.css">
		<title>	<%= config.siteName %> &bullet; <%= pageName %></title>
	</head>
	<body>
		<header>
		<a href="/" class="siteName"><%= config.siteName %></a> <nav><%- menu %></nav>
		</header>
		<main>
			
			<% if(type==='galleryItem'){ %>
				<div class="galleryItemImageContainer">
					<% if(imgNav.hasOwnProperty('previousImg')){ %>
						<a class="imgNavArrowLeft imgNavArrow imgNav" href="/gallery/<%= galleryId+'/'+imgNav.previousImg %>"></a>
					<% }
					else{ %>
						<span class="imgNav  imgNavArrowNo"></span>
					<% } 
					%>
					<% 
						if(imgNav.hasOwnProperty('nextImg')){
					%>
							<a class="galleryItemImageLinkNext"  href="/gallery/<%= galleryId+'/'+imgNav.nextImg %>">
					<%	}
						else{
					%>
							<a class="galleryItemImageLinkNext" href="/gallery/<%= galleryId+'/'+gallery.order[0] %>">
					<%	}
					%>
					<img class="galleryItemImage" src="/med/<%= data.image %>"></a><% 
					if(imgNav.hasOwnProperty('nextImg')){ %>
						<a class="imgNav imgNavArrow imgNavArrowRight" href="/gallery/<%= galleryId+'/'+imgNav.nextImg %>"></a>
					<% } 
					else { %>
						<span class="imgNav imgNavArrowNo" ></span>
					<% } %>
					
				</div>
			<% } %>
			
			<div class="content">
					<div class="pageTitle"><%= pageName %></div>
					<% if(type==='galleryItem'){ %>
						<div class="linkToFullImg"><a  href="/full/<%= data.image %>" target="_blank">Full Image</a></div>
					<% } %>
				<%- content %>
			</div>
			<% if(type==='gallery'){ %>
				<div class="galleryImagesContainer">
				<%
				for(let i of data.order){
					let obj=data.items[i]
				%>
					<a href="/gallery/<%= galleryId +'/'+i %>"><img class="galleryImages" src="/thumb/<%= obj.image %>"></a>
				<% } %>
				</div>
			<% } %>


			
		</main>
		<footer></footer>

	</body>
</html>